<p><i>Пожалуйста, заполните форму. Обязательные поля помечены </i><em>*</em></p>
<fieldset>
    <legend>Персональная информация</legend>
    <form method="POST"> {% csrf_token %} {# форма будет чтото отправлять на сервер #}
        {{ form.name }}<br>
        {{ form.surname }}<br>
        {{ form.self_phone_number }}<br>
        {{ form.home_phone_number }}<br>
        {{ form.passport_number }}<br>
        {{ form_promotion.promotion }}<br>
        {{ form_contract.data_zukluchenie }}<br>
        {{ form_contract.data_okonchanie }}<br>
        {{ form_work.data_start_work }}<br>
        {{ form_work.data_end_work }}<br>
        <select name="name_mecto">
        {% for el in mesto %}
            <option value="{{el}}" > {{ el }}</option>
        {% endfor %}
        </select>
        <select name="name_dolzhnost">
        {% for el in dolzhnost %}
            <option value="{{el}}" > {{ el }}</option>
        {% endfor %}
        </select>
        <select name="name_promotion">
        {% for el in promotion %}
            <option value="{{el}}" > {{ el }}</option>
        {% endfor %}
        </select>
        <span>{{ error }}</span>
        <button class="btn btn-success " type="submit">Отправить форму</button>
    </form>
</fieldset>