<p><i>Пожалуйста, заполните форму. Обязательные поля помечены </i><em>*</em></p>
<fieldset>
    <legend>Персональная информация</legend>
    <form method="POST"> {% csrf_token %} {# форма будет чтото отправлять на сервер #}
        {{ form.name }}<br>
        {{ form.surname }}<br>
        {{ form.patronymic }}<br>
        {{ form.self_phone_number }}<br>
        {{ form.home_phone_number }}<br>
        {{ form.passport_number }}<br>
        {#  <select>                                         шторка для удобства#}
        {#  <option>Пункт 1</option>#}
        {#  <option>Пункт 2</option>#}
        {#</select>#}
        {{ form_promotion.promotion }}<br>
        {{ form_contract.data_zukluchenie }}<br>
        {{ form_contract.data_okonchanie }}<br>
        <span>{{ error }}</span>
        <button class="btn btn-success " type="submit">Отправить форму</button>
    </form>
</fieldset>